*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    width: 70%;
    margin: auto;
    text-align: center;
}

picture img{
    width: 20%;
}


section{
    border: 3px blue solid;
    text-align: center;
    padding: 10px;
    
}

form label{
    display: block;
    
}

form button{
    display: block;
}